#topbar{
    background-color: black;
    height: 20px;
    width: 100%;
}
body{
    background-color: white;

}
#container{
    background-color: aqua;
    margin: 0px auto;
    width: 100%;
}
#header{
    height: 80px;
    background-color: white;
}
#header img{
    height:80px;

}
#header ul{
    float:right;
    margin-top: 27px;
}
#header ul li{
    display: inline;
    margin-right: 20px;
}
#header ul li a{
    color: black;
    text-decoration: none;
    font-size: 17px;
}
#banner-cointainer{
    
    padding-bottom: 50px;
    width: 80%;

}
.image-text{
    position: absolute;
    bottom: 300px;
    left: 460px;
    font-size: 80px;
    color: whitesmoke;
    text-align: initial;
    
}
.content1{
    width: 50%;
    height: 350px;
    background-image: url(1.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    float: left;
    margin-right: 2%;
    margin-bottom: 20px;
    
    
}
#content2{
    width: 45%;
    height: 350px;
    background-image: url(2.jpg) ;
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    float: right;
    padding-left: 2%;
    margin-bottom: 20px;
    
}
.heading{
    color: black;
    text-align: center;
    
}
#footer{
    width: 100%;
    height: 150px;
    background-color: black;
    clear: both;
   padding-top: 5px;
}
.footer{
    color: white;
    text-align: center;
    

}
